img{
	padding: 10px;
	margin-top: 20px;
height: 200px;
width: 200px;
margin: 20px;
border-radius: 50%;

}
 p{
	display: inline-block;
	margin-left:10px; 

	}
#academic{
	padding: 20px;

}
table{
	
	

}
tr{
border: 2px solid black;
	padding: 20px;
	margin: 20px;
}
td{
border: 2px solid black;
	padding: 20px;
	margin: 30px;
}
th{
	border: 2px solid black;
	padding: 20px;
	margin: 30px;
}